*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
.header2{
    width: 100%;
    height: 100px;
    background-color: #3e3e3e;
    
  }
  .header2 .container2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header2 .container2 .item1{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.090s ease-in;
  }
  .header2 .item1:hover{
    border: 2px solid white;
  }
  .container2 a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.080s ease-in-out ;
  }
  .container2 a:hover{
    color: darkseagreen;
    font-size: 26px;
  }

/*--------------------------------------------------*/

.container{
    display: flex;
    justify-content: space-evenly;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a0101;
}
#page>img{
    position: absolute;
    right: 5%;
    top: 52%;
    transform: translateY(-55%);
    width: 50%;
}
#text{
    padding: 30px 50px;
    position: relative;
    top: 18%;
    left: 8%;
    height: 75%;
    width: 35%;
    scale: 1.1;
    color: white;
}
#text>h1{
    font-size: 60px;
    line-height: 1;
   
}


#text>h4{
    margin-top: 30px;
    color:white;
    font-size: 25px;
    font-weight: 500;
}

.buttons{
    position: absolute;
    left: 3%;
    bottom: 28%;
    height: 20%;
    width: 100%;
}
.buttons button{
    padding: 10px 22px ;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}
.buttons button a{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.buttons .b2{
    margin-left: 20px;
    
    background-color: white;
}

/*---------------------------------------*/

.interest{
    width: 100%;
    height: 500px;
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    display: flex;
    justify-content: space-evenly;
    background-color: #382b2b;
    color: white;
  }
  .interest .interest1{
    
    width: 600px;
    border-right: 2px solid white;
    
  }
  .interest1 .int-name{
    margin-top: 10px;
  }
  .interest1 p{
    margin-top: 70px;
    margin-right: 50px;
    font-size: 35px;
  }

  .interest .interest2{
 
    width: 600px;
    border-right: 2px solid white;
    
  }
  .interest2 .int-name{
    margin-top: 10px;
  }
  
  .interest2 p{
    margin-top: 70px;
    margin-right: 60px;
    font-size: 35px;
    margin-bottom: 10px;
  }
  .interest .interest3{
    width: 500px;
  }
  .interest3 .int-name{
    margin-top: 10px;
  }
  .interest3 .int-desc{
    width: 600px;
    padding-right: 40px;
  }
  .interest3 p{
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  .interest span{
    color: white;
    font-size: 30px;
    text-align: center;

  }
  .interest1 span{
    margin-left: 120px;

  }
  .interest2 span{
    margin-left: 90px;

  }
  .interest3 span{
    margin-left: 120px;

  }
  .intTitle{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: white;
  }
  .intTitle span{
    margin-top: 10px;
    color: white;
  }
  
  /*------------------------------------------------*/

  .projects{
    height:500px;
    width: 100%;
    background-color:#382b2b;
    color: white;
  }
  .projects .pro-container{
    height:500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .projects .proTitle{
    width: 100%;
    height: 100px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid whitesmoke;
  }
  .projects .pro1 .pro-img{
    width: 300px;
    height: 200px;
    margin-top: -100px;

  }
  .pro1{
    width: 400px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .pro1 img{
    width: 100%;
    height: 100%px;
  }
  .pro1 .pro-name{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 40px;
  }
  .pro1 .pro-btn{
    width: 100%;
    height: 60px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: none;

  }
  .pro-btn .soco{
    margin-bottom: 100px;
  }
  .pro1 button{
    font-size: 30px;
    border-radius: 30px;
    border: none;
    padding: 5px;
    padding-left: 20px ;
    padding-right: 20px;
    transition: 0.20s ;
  }
  .myntra img{
    transform: scale(0.7);
    position: relative;
    top: -30px;
  }
.pro1 button:hover{
    transform: scale(1.2);
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    
}


  /*-----------------------------------------------*/

.end{
    background-color: #191919;
    text-align: center;
    padding-bottom: 50px;
    height: 600px;

}
#page3{
    height: 500px;
}
.contact-me p
{
    margin-bottom: 50px;
    font-size: 40px;
}
.contact-me h2
{
    font-size: 50px;
}
.contact-me p
{
    font-size: 40px;
}
.contact-me{
    width: 100%;
    color: white;
    height: 570px;
    font-weight: bold;
    position: relative;
  }
  .collab{
    font-size: 3.1rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-weight: bolder;
    margin: 10px auto;
    padding: 30px 0;
  }
  .bottom-container{
    height: 100px;
    width: 100%;
    background-color:black;
  }
  .copyright{
    color:white;
    font-size: 1.2rem;
    margin-top:10px;

    padding: 8px 0 8px 0;
  }
  .btn{
    padding:7px 7px;
  }
  .btn > img{
      border-radius: 50%;
      position: relative;
      bottom: 40px;
  }
 
  
 
  
  